@font-face {
    font-family: "poppins 500";
    src: local(),
    url(../fonts/Poppins/Poppins-Medium.ttf) format(woff);
}
@font-face {
    font-family: "poppins 200";
    src: local(),
    url(../fonts/Poppins/Poppins-ExtraLight.ttf) format(woff);
}
@font-face {
    font-family: "poppins 300";
    src: local(),
    url(../fonts/Poppins/Poppins-Light.ttf) format(woff);
}
@font-face {
    font-family: "poppins 400";
    src: local(),
    url(../fonts/Poppins/Poppins-Regular.ttf) format(woff);
}
@font-face {
    font-family: "poppins 600";
    src: local(),
    url(../fonts/Poppins/Poppins-SemiBold.ttf) format(woff);
}
@font-face {
    font-family: "poppins 700";
    src: local(),
    url(../fonts/Poppins/Poppins-Bold.ttf) format(woff);
}
@font-face {
    font-family: "poppins 800";
    src: local(),
    url(../fonts/Poppins/Poppins-ExtraBold.ttf) format(woff);
}
@font-face {
    font-family: "poppins 900";
    src: local(),
    url(../fonts/Poppins/Poppins-Black.ttf) format(woff);
}
