@font-face {
    font-family: "Montserrat 400";
    src: local(), 
    url('./../fonts/Montserrat/static/Montserrat-Regular.ttf') format(woff);
}
@font-face {
    font-family: "Montserrat 300";
    src: local(), 
    url('./../fonts/Montserrat/static/Montserrat-Light.ttf') format(woff);
}
@font-face {
    font-family: "Montserrat 300";
    src: local(), 
    url('./../fonts/Montserrat/static/Montserrat-Light.ttf') format(woff);
}
@font-face {
    font-family: "Montserrat 500";
    src: local(), 
    url('./../fonts/Montserrat/static/Montserrat-Medium.ttf') format(woff);
}
@font-face {
    font-family: "Montserrat 600";
    src: local(), 
    url('./../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format(woff);
}
@font-face {
    font-family: "Montserrat 100";
    src: local(), 
    url('./../fonts/Montserrat/static/Montserrat-Thin.ttf') format(woff);
}
@font-face {
    font-family: "Montserrat 200";
    src: local(), 
    url('./../fonts/Montserrat/static/Montserrat-ExtraLight.ttf') format(woff);
}
@font-face {
    font-family: "Montserrat 200";
    src: local(), 
    url('./../fonts/Montserrat/static/Montserrat-ExtraLight.ttf') format(woff);
}